@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,700&display=swap");

:root {
  --primary: rgb(118, 118, 243);
  --black: #000;
  --white: #fff;
  --grey10: #e1e1e1;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--grey10);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.debug {
  border: 1px solid red;
}

.text-center {
  text-align: center;
}
